<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.SqlServer" version="0.19.0.0" targetFramework="net45" />
  <package id="ZNetW" version="1.0.17" targetFramework="net45" />
</packages>